  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
  }
   .button {
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    background-color: #fb565a;
    text-transform: uppercase;
    border: none;
    text-align: center;
    vertical-align: middle;
  }
  .button:hover,
  .button:focus {
    background-color: #e74246;
  }
  .button:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
  }
  .slider span {
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    color: #000000
  }
  .slider .button {
    width: 240px;
    height: 50px;
  }
  header, .slider {
    background-color: #eeeeee;
  }
  a {
    text-decoration: none;
  }
  .main-navigation {
    font-weight: 500;
    line-height: 30px;
    color: #000000;
  }
  .site-navigation {
    list-style: none;
  }
  .site-navigation a, .basket {
    color: #000000;
  }
  .site-navigation a:hover,
  .site-navigation a:focus,
  .basket:hover,
  .basket:focus {
    color: #fb565a;
  }
  .benefits ul {
    list-style : none;
  }
  .benefits h3 {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
   }
  
  .benefits button {
    width: 160px;
    height: 50px;
  }
  .benefits .button-green {
   background-color: #00ca74;
  }
  .benefits .button-yellow {
   background-color: #efc84a;
  }
  .button-green:hover,
  .button-green:focus {
    background-color: #00bc6c;
  }
  .button-yellow:hover,
  .button-yellow:focus {
    background-color: #eab534;
  }
  .button-green:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
  }
  .button-yellow:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
  }
    .description_slogan {
      font-size: 45px;
      font-weight: 500;
      line-height: 45px;
      color: #000000;
  }
  .description_list-title {
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
  }
  .description_list li {
    list-style: none;
  }
  .description_list li::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    display: block;
  }
  th {
    font-size: 45px;
    font-weight: 700;
    line-height: 10px;
    color: #000000;
  }
  .footer_info span {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
  }
  .footer_info p,a {
    color: #666666;
  }
  .footer-social_slogan {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
  }
  .footer-social_bonus {
    line-height: 22px;
    color: #444444;
  }
  .modal h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
  }
  .modal span,label {
    font-weight: 700;
    color: #000000;
  }
 .modal input {
   font: inherit;
   line-height: 18px;
   border: 2px solid #d7dcde
  }
 .modal input:hover {
   border-color: #b4b9bb;
  }
.modal input:focus {
fcolor: #000000;
border-color: #000000 ;
}
.modal input:invalid {
  color: #e74246;
  border-color:  #e74246;
}
.footer-social {
  list-style: none;
}
.social-button {
  width: 79px;
  height: 79px;
  border-radius: 79px;
  background-color: #e1e1e1;
}
.social-button:hover {
  background-color: #e74246;
}
.social-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}
 